In [1]:
a = 5
b = 10
print(a + b)

15

In [7]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
ticker=['SPY', 'AAPL', 'KO']
stocks = yf.download(ticker[1], start = '2022-01-01',end = '2022-01-30')
stocks

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,180.190964,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,177.904053,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,173.171829,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,170.281006,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,170.449310,86709100
2022-01-10,169.080002,172.500000,168.169998,172.190002,170.469116,106765600
2022-01-11,172.320007,175.179993,170.820007,175.080002,173.330215,76138300
2022-01-12,176.119995,177.179993,174.820007,175.529999,173.775726,74805200
2022-01-13,175.779999,176.619995,171.789993,172.190002,170.469116,84505800
2022-01-14,171.339996,173.779999,171.089996,173.070007,171.340347,80440800
2022-01-18,171.509995,172.539993,169.410004,169.800003,168.103012,90956700
2022-01-19,170.000000,171.080002,165.940002,166.229996,164.568680,94815000
2022-01-20,166.979996,169.679993,164.179993,164.509995,162.865875,91420500
2022-01-21,164.419998,166.330002,162.300003,162.410004,160.786865,122848900
2022-01-24,160.020004,162.300003,154.699997,161.619995,160.004745,162294600
2022-01-25,158.979996,162.759995,157.020004,159.779999,158.183136,115798400
2022-01-26,163.500000,164.389999,157.820007,159.690002,158.094055,108275300
2022-01-27,162.449997,163.839996,158.279999,159.220001,157.628723,121954600
2022-01-28,165.710007,170.350006,162.800003,170.330002,168.627701,179935700

In [ ]:
stocks.t
stocks = pd.read_csv('souPicks.csv')

In [38]:
# Create a Tickers object for multiple tickers
tickers = yf.Tickers('msft aapl goog')

# Create a dictionary to store the info of each ticker
info_dict = {}


for ticker in tickers.tickers:
    info_dict[ticker] = tickers.tickers[ticker].info

# Convert the dictionary to a DataFrame
info_df = pd.DataFrame.from_dict(info_dict, orient='index')

# Display the DataFrame
info_df

,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,...,freeCashflow,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,financialCurrency,trailingPegRatio,grossProfits
MSFT,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,50418876416,94966996992,0.272,0.128,0.69441,0.49714,0.47587,USD,2.3187,NaN
AAPL,One Apple Park Way,Cupertino,CA,95014,United States,408 996 1010,https://www.apple.com,Consumer Electronics,consumer-electronics,Consumer Electronics,...,90680500224,113071996928,0.050,-0.014,0.43449,0.32286,0.28116,USD,2.1778,1.707820e+11
GOOG,1600 Amphitheatre Parkway,Mountain View,CA,94043,United States,650 253 0000,https://www.abc.xyz,Internet Content & Information,internet-content-information,Internet Content & Information,...,71757127680,106444996608,0.460,0.110,0.56122,0.32333,0.27962,USD,1.1620,1.566330e+11

In [39]:
#optional
msft_info = tickers.tickers['MSFT'].info
df_msft = pd.DataFrame.from_dict(msft_info, orient='index', columns=['MSFT'])
df_msft

                                MSFT
address1           One Microsoft Way
city                         Redmond
state                             WA
zip                       98052-6399
country                United States
...                              ...
grossMargins                 0.69441
ebitdaMargins                0.49714
operatingMargins             0.47587
financialCurrency                USD
trailingPegRatio              2.3187

[131 rows x 1 columns]

In [43]:
tickers.tickers['GOOG'].actions

                           Dividends  Stock Splits
Date
2014-03-27 00:00:00-04:00        0.0      2.002000
2015-04-27 00:00:00-04:00        0.0      1.002746
2022-07-18 00:00:00-04:00        0.0     20.000000